*{
    margin:0;
    padding:0;
}

body{
    background-color: #403cac;
}


.main{
    width:50%;
    margin:100px auto;
    text-align: center;
}

.count{
    text-align: center;
}

.title{
    margin-bottom:50px;
    font-size:60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#fc8403;
}

#next_command{
    text-align: center;
}

#hide
{
    display:none;
    width:40%;
    margin:auto;
    
}
#count{
    
    border:2px double white;
    margin:0 auto;
    width:70px;
    height:50px;
    padding-top: 20px;
    border-radius:50%;
    margin-bottom:30px;
    font-size:30px;
    color:rgb(177, 216, 250);
}

#name_command{
    font-size: 25px;
    color:rgb(177, 216, 250);
    margin-bottom:10px;
}

p{
    font-size:18px;
    color:rgb(177, 216, 250);
}


#startClock{
    margin-top:30px;
    margin-bottom: 30px;
    width:120px;
    height:40px;
    border-radius:15px;
    border:none;
    outline: none;
    background-color:#fc8403;
    color:white;
    font-size: 20px;
}

#startClock:hover{
    cursor: pointer;
    background-color:white;
    color:#fc8403;
    border:1px solid #fc8403;
}

form{
    margin-top:10px;
}

h1{
    color:#fc8403;
    margin-bottom:20px;
}

#list_words{
    display:none;
}

#skip{
    margin-right:40px;
}

input{
    width:120px;
    height:30px;
    border-radius:15px;
    border:none;
    outline: none;
    background-color:#fc8403;
    color:white;
    font-size: 18px;
}

input:hover{
    cursor: pointer;
    background-color:white;
    color:#fc8403;
    border:1px solid #fc8403;
}
