@import url('https://fonts.googleapis.com/css2?family=Love+Light&family=Open+Sans:wght@300&display=swap');
*{
    padding:0;
    margin:0;
    font-family: 'Open Sans', sans-serif;
}


body{
    background:#403cac;
}

.main{
    width:50%;
    margin:100px auto;
    text-align: center;
    
}

.form{
    margin-top:30px;
}

a{
    text-decoration: none;
}

.list_command{
    color:white;
}

.game_name{
   
    text-align:center;
    font-weight:900;
    letter-spacing: 5px;
    font-size:50px;
    margin: 0 auto 30px;
}

.game_name a :active,
.game_name a {
    text-decoration: none;
    color:#fae421;
}

.menu{
    color:#fabc12;
    width:70%;
    margin:0 auto 30px;
}

.menu a :active,
.menu a {
    text-decoration: none;
    color:#fabc12;
}


input{
    width:200px;
    height:30px;
    background-color:#403cac;
    border:none;
    border-bottom:1px solid grey;
    outline:none;
    color:#fae421;
    font-size:20px;
}

.play{
    border:none;
    background-color:#fabc12;
    width:100px;
    height:30px;
    border-radius:20px;
    font-size: 18px;
    font-weight: 600;
    color:rgb(71, 53, 46);
}

li{
    list-style-type: none;
}



